@keyframes jiggle{
   0%{transform: rotate(0deg);}
   25%{transform: rotate(5deg);}
   50%{transform: rotate(0deg);}
   75%{transform: rotate(-5deg);}
   100%{transform: rotate(0deg);}
}

@font-face {
    font-family: Oswald;
    src: url(font/Oswald-VariableFont_wght.ttf);
}

body{
    background-image: url("img/background.png") !important;
    font-family: "Oswald" !important;
}

.formButton{
    background-color: #d6ccc2 !important;
    width: 134.5px;
    border: solid black 2px !important;
}


.containerForm{
    background-color: transparent;
    background: linear-gradient(to top, #e6b980 0%, #d6ccc2 100%);
    backdrop-filter: blur(10px);
    max-width: 400px !important;
    border: solid black 3px;
    border-radius: 5px;
}

.transitionButton{
    animation: jiggle 0.5s infinite ease-in;
}

.transitionButton:hover{
    width: 200px;
    transition: all 1s ease 0s;
}

.transformButton:hover{
    transform: rotate(360deg);
    transition: all 3s ease 0s;
}

.selectAvatar{
    display: block;
}

.input-type{
    border-radius: 7px;
    box-shadow: 7px 7px 7px black;
}

input[type=radio] {
    display: none;
}

.imgAvatar{
    opacity: 50%;
    max-width: 90px;
    max-height: 90px;
}

.imgAvatar:hover{
    opacity: 100%;
    max-width: 120px;
    max-height: 120px;
}

