body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    position: relative;
}

header {
    position: relative;
}

#top_header {
    display: flex;
    justify-content: center;
}

#top_header > img{
    max-width: 120px;
}

#bottom_header > ul {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

#bottom_header > ul > li{
    display: inline-flex;
}

#bottom_header > div {
    text-align: center;
}

.menu2-element {
    margin: 6px;
}

li {
    list-style-type: none;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: black;
}

h1 {
    margin: 0 40px;
}

#products-filter {
    display: flex;
    align-items: center;
    position: sticky;
    margin-left: 40px;
    background-color: lightgrey;
    height: 60px;
    top: 0;   
}

#products-filter > div {
    margin: 0 20px;
}

#product-listing {
    margin: 0;
}

.item-details {
    display: flex;
    flex-direction: column;
}

#load-more-products {
    padding-left: 50%;   
}

#back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

footer {
    background-color: lightgrey;
}

footer > ul > li{
    display: flex;
    justify-content: center;
}

footer > div {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 650px) {
    
    #bottom_header > ul {
        justify-content: center;
    }

    #bottom_header > ul > li {
        margin: 0px 20px;
    }

    aside {
        position: absolute;
        top: 0;
        max-width: 260px;
        left: 0;
    }

    section {
        margin-left: 260px;
    }

    #product-listing > li {
        display: flex;
        flex-wrap: wrap;
    }

    .image-container > a > img {
        max-width: 380px;
    }

    article {
        margin: 0 5px;
    }

}