@mainColor : #EDEDE9;
@fontColor : #484d62;

@font-face {
    font-family: Oswald;
    src: url(font/Oswald-VariableFont_wght.ttf);
}

body{
    background-color: @mainColor;
    color: @fontColor;
    font-family: Oswald !important;
}

.article {

    background-color: #D6CCC2;
    border-radius: 6px;
    border: solid black 2px;
 
    .articleImage{
        margin-top: 16px;
        max-width: 350px;
        max-height: 300px;
        border-radius: 4px;
    }
    
    h1{
        font-size: 45px;
    }

    article{
        font-size: 18px;
    }

}