body{
    background-color: #EDEDE9;
    color: #484d62;
}

.col1{
    max-width: 400px;
}

.logoVertical{
    width: 250px;
    height: 188px;
    float: left;
}

.mainHeader{
    background-color: #D6CCC2;
    max-width: 100%;
    max-height: 100%;
    height: 200px;
}

.mainLogo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    margin-top: 60px;
}

.btnLogIn{
    margin-top: 30px;
    margin-left: 15px;
    background-color:  #D5BDAF;
}

.btnFilterBy {
    margin-top: 75px;
    background-color:  #D5BDAF;
}

.btnRegister{
    margin-top: 50px;
    background-color:#D5BDAF;
}

.cardArticles{
    margin-left: 5%;
    margin-top: 40px;
    background-color: #D6CCC2;
    max-width: 1200px;
    border-radius: 10px;
}

.imgUser{
    margin-left: 50px;
    margin-top: 30px;
    max-width: 128px;
    max-height: 128px;
}

.articleImage{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 400px;
    max-height: 200px;
    border-radius: 5px;
}

.articleImage2{
    margin-top: 10px;
    margin-left: 70px;
    max-width: 400px;
    max-height: 200px;
    border-radius: 5px;
}

.topics{
    max-width: 80px; 
    background-color: #D5BDAF;
}

.topicBox{
    margin-top: 40px;
    margin-right: 50px;
    background-color: #D6CCC2;
    max-height: 234px;
    width: 200px;
}

.topicBox2{
    margin-top: 40px;
    margin-left: 50px;
    background-color: #D6CCC2;
    max-height: 234px;
    width: 200px;
}

.colTpc {
    margin-top: 20px;
    margin-left: 6px;
}

.colTpc2{
    margin-top: 20px;
}

.tpc1{
    margin-bottom: 105px;
}

.tpc2{
    margin-bottom: 105px;
}

.likeImage{
    margin-top: 110px;
    margin-left: 50px;
    max-width: 95px;
    max-height: 95px;
}

.likeImage2{
    margin-top: 110px;
    margin-left: 120px;
    max-width: 95px;
    max-height: 95px;
}